www/upload
www/bitrix
www/local/cache
www/local/.config.php
www/local/vendor
/logs
*.log
*.bak
*.tmp
sitemap*.xml
.idea/*
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/webResources.xml
!/.idea/dataSources.xml
!/.idea/runConfigurations
!/.idea/encodings.xml
!/.idea/php.xml
!/.idea/taikor.tn.ru.iml
/www/calculator
